html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: Verdana;
    line-height: 1.5;
    letter-spacing: .25px;
    color: #FFE8F7;
    background-color: #161032;
    }
.sidebar {
    height: 100%;
    width: 30%;
    background: url(sidebar.jpg) center;
    position: fixed;
    }
.main {
    margin-left: 30%;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
    }
.container {
    height: 100%;
    }
p {
    font-family: Verdana;
    font-size: 11px;
    color: #FFE8F7;
    line-height: 1.5;
    letter-spacing: .25px;
    }
.description  {
    width: 75%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #161032;
    }
h1,h2,h3,h4,h5 {
    margin: 0; 
    padding: 0;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bold;
    color: #6C4691;
    letter-spacing: 1.2px;
    }
.duties {
    margin-bottom: 11px;
    text-align: left;
}
address {
    font-size: 19px;
    letter-spacing: 1.4px;
    border-bottom: solid 1px #006600;
    text-transform: uppercase;
    font-style: normal;
    background-color: #161032;
    word-break: break all;
    text-align: center;
    }
h1 {
    font-size: 19px;
    letter-spacing: 1.4px;
    border-bottom: solid 1px #006600;
    text-transform: uppercase;
    }
h2 {
    font-size: 17px;
}
h3 {
    font-size: 15px;
    }
h4 {
    font-size: 13px;
}
h5 {
    font-size: 11px;
}
ul {
    width: 75%;
    }
