html, 
body  {
    height: 100%;
    }
.sidebar {
    height: 100%;
    width: 30%;
    background: pink url(sidebar.jpg) center;
    float: left;
    }
.main {
    width: 70%;
    padding: 10px;
    float: left;
    }
.container::after {
    content: "";
    clear: both;
    display: table;
}
