html, 
body  {
    height: 100%;
    }
.sidebar {
    height: 100%;
    width: 30%;
    background: pink url(sidebar.jpg) center;
    position: fixed;
    }
.main {
    margin-left: 30%;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
    }
.container {
    height: 100%;
}
