html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #777;
  font-family: Georgia, Times, "Times New Roman", serif;
  background-image: url(../images/circuit.png);
}

.clearfix {
  clear: both;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, "Helvetica neue", Helvetica, sans-serif;
  color: #aa4a4a;
  padding: 0;
  margin: 0;
}
.greenbox {
  /* position: relative; */
  float: left;
  margin: 0;
  text-align: center;
  width: 8em;
  padding: 1em;
  background-color: #aa4a4a;
  color: #fff;
  /* left: 352px; */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1b1b1b;
  border-bottom: 2px solid #cccccc;
  z-index: 1;
}

nav {
  text-align: right;
  padding-top: 2em;
  color: #3b3b3b;
  font-family: Arial, "Helvetica neue", Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: #999;
  padding: 0 5px;
}

main {
  clear: both;
  background-color: #fff;
  margin: 7em 0 7em 0;
  padding: 1.5em;
  border: 2px solid #ddd;
}

.portfolio {
  display: block;
  float: left;
  position: relative;
  width: 31%;
  margin: 0 20px 20px 0;
}

.hide {
  display: none;
}

.portfolio img {
  width: 100%;
  border: 1px solid #666;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #666;
  text-align: center;
  color: silver;
  padding: 1.5em 0 0.4em;
  border-top: 0.5em;
  border-top-style: solid;
  border-color: #aa4a4a;
  clear: both;
  margin: 0;
  z-index: 1;
}

hr {
  margin: 2em 0;
}

.caption {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: #aa4a4a;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.7em 0;
  font-size: 1.4em;
}

p {
    line-height: 1.7em;
    font-size: 1em;
    font-family: Arial, "Helvetica neue", Helvetica, sans-serif;
}

footer p {
    margin-bottom: 0;
    font-size: 12px;
    font-family: Arial, "Helvetica neue", Helvetica, sans-serif;
}

label {
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.submit {
    border: none;
    padding: 10px 20px;
    background-color: #aa4a4a;
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 1em;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    color: #777;
    font-size: 1em;
}

textarea {
    height: 20em;
    margin: 5px 0 5px 0;
}

::placeholder {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    color: #ddd;
}

.about-img {
    float: left;
    margin: 0 30px 30px 0;
    max-width: 100%;
    height: auto;
}

.portImages:hover {
    color: steelblue;
    padding-left: 10px;
}

nav a:hover {
    color: steelblue;
    padding: 0 5px;
}

button:hover {
    color: #fff;
    background-color:#3b3b3b;
    border: 1px solid #777;
    padding: 9px 19px;
}

@media (max-width: 640px) {
  header, footer {
    position: relative;
  }

 
  .greenbox {
    position: relative;
    float: none;
    width: auto;
    padding: 1.5em;
    margin: 0;
      }
      
  nav {
    text-align: center;
    font-size: 1em;
    padding: 1em;
  }
      
  header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    max-width: 100%;
    }
  
  main {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
  }

.portfolio {
  position: relative;
  width: 80%;
  margin: 0 5% 5% 5%;
}

}

@media (min-width: 641px) and (max-width: 959px) {

  header {
    width: 100%;
  }

.content {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

main {
  margin-top: 15%;
  margin-bottom: 15%;
  max-width: 100%;
}

.portfolio {
  position: relative;
  width: 40%;
  margin: 0 5% 5% 5%;
}

}

@media (min-width: 959px) and (max-width: 990px) {

  .content {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  main {
    margin-top: 15%;
    margin-bottom: 15%;
    max-width: 100%;
  
  }
  
  }

  @media (min-width: 990px) {

    .content {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    
    main {
      margin-top: 10%;
      margin-bottom: 5%;
      max-width: 100%;
    
    }
    
    
    }